
Scenario:
---------
On 8.11.13 at 14:39, there was a bomb assault on an oil rig close to Monterrey Bay at 42°North, 178° W.
Emergency Management (EM) is interested in Flickr photographs of:
 
 - in all recently published (--> TIME param) photos in that geographic are (--> BBOX param)
 	+ specific KEYWORDS
 
 - it would be cool if the EM could define the params TIME, BBOX and KEYWORDS via Web service/form
 	-> the resulting photographs would then be receivable via WFS/SOS interface
   